include templates-mixin

mixin features(features)
  each feature in features
    li #{feature.name}
      ul.templates
        mixin templates(feature.name, feature.templates)
  li
    input.new.feature

if(locals['_design_features-mixin'])
  mixin features(features)