.posts {
  	position: absolute;
    text-align: left;
    height: 98%; width: 98%;
    overflow: auto;
		border-radius: 20px;
    padding: 0px; margin: 2px;
		border: 5px solid rgba(229, 252 ,194,.3);
		background: white; /* rgba(157,224,173,.1);*/
		
}
img.feed-picture {
		border-radius: 7px;
		border: 1px solid rgba(148,140,117,.8);
		height: auto;
}
.post {
    background: rgba(229, 252 ,194,.3);
    margin-bottom: 4px; margin-right:3px;
		margin-left:3px;
    padding: 5px;
    font-family: tahoma, verdana;
    font-size: 12px;
    font-weight: normal;
		border-radius: 7px;
		color: rgba(89,79,79,1);
		border: 1px solid rgba(157,224,173,.5);
}
.post-content {
    line-height: 18px;
		
}

.post-footer {
    padding-top: 8px;
		color: rgba(84,121,128,1);
}
span.post-from {
	color: rgba(84,121,128,1);
	font-weight: bold;
}
.post-footer > img.source {
	float: left;
	opacity: .8;
	margin-right: 4px;
	height: auto;
}
span.comments {
	float: right;
	margin-top: -6px;
	margin-right: 3px;
}
.comment {
	width: 22px;
	float: right;
	margin-left: 5px;
	border: 1px solid rgba(148,140,117,.8);
	border-radius: 3px;
	height: auto;
}
.faux {
	height: 22px !important;
	background: rgba(84,121,128,.5);	
}
.faux > span {
	display: block;
	margin-top: 4px;
	text-align: center;
	color: white;
}
img.post-from {
	float: left;
	width: 35px;
	margin-right: 5px;
	border: 1px solid rgba(148,140,117,.8);
	border-radius: 3px;
	height: auto;
}