!!! 
html 
  head 
    if css instanceof Array
      for style in css
        style
          !{style}
    else
      style
        !{css}
    script(src="js/common/3rdParty/jquery/jquery.js") 
  body
    !{html}
    script(type="text/javascript")
      var template = $('body').children()
      !{javascript}