.game
  .frame
    .throws
      .throw 1
      .throw 4
    .score 5
  .frame
    .throws
      .throw 4
      .throw 5
    .score 14
  .frame
    .throws
      .throw 6
      .throw.spare
    .score 29
  .frame
    .throws
      .throw 5
      .throw.spare
    .score 49
  .frame
    .throws
      .throw.strike
    .score 60
  .frame
    .throws
      .throw 0
      .throw 1
    .score 61
  .frame
    .throws
      .throw 7
      .throw.spare
    .score 77
  .frame
    .throws
      .throw 6
      .throw.spare
    .score 97
  .frame
    .throws
      .throw.strike
    .score 117
  .frame
    .throws
      .throw 2
      .throw.spare
      .throw 6
    .score 133