.features {
  position: relative;
  background: rgba(176, 196, 222, .3);
  height: 100%; width: 100%;
  overflow: auto
}
.features > ul {
	list-style: none;
  font-family: arial;
  color: rgb(105, 105, 105);
  padding-left: 5px;
  margin: 0px;
  
}
.features > ul > li {
  padding-left: 0px;
  margin-top: 10px;
  
}
ul.templates {
  color: black; 
  padding-left: 20px;
  padding-top: 0px;
}
ul.templates > li {
  padding-top: 1px;
}
ul.templates > li:hover {
  background: rgba(176, 196, 222, .4);
}
ul.templates > li> a {
  font-size: 11pt;
  color: rgba(0, 128, 0, .6);
}
input.new {
  width: 90%;  
}