include template-mixin

mixin templates(feature, templates)
  each template in templates
    mixin template-link(feature, template)
  li 
    input.new.template(feature=feature)

if(locals['_design_templates-mixin'])
  mixin templates(name, templates)