mixin template-link(feature, template)
  li
    - var id = feature + "/" + template
    a.template(href='#' + id,
    id=id,
    feature=feature,
    template=template) #{template}

if(locals['_design_template-mixin'])
  mixin template-link(feature, template)